/* Carrinho */
.ant-drawer-title {
    font-weight: bold;
<<<<<<< HEAD
    color: #2E7D32;
}

.ant-btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.ant-btn-primary:hover {
    background-color: #388E3C;
    border-color: #388E3C;
}

.cart-icon{
    margin-right: 30px;
=======
    color: #94261e;
}

.finalizar {
    background-color: #94261e;
    border-color: #94261e;
    color:white;
}

.finalizar:hover {
    background-color: #6b1c16;
    border-color: #6b1c16;
}

.cart-icon{
    margin-right: 50px;
>>>>>>> 5a4ffb1 (Reinicialização do repositório após corrupção)

}

.cart-icon svg {
    font-size: 38px; /* Ícones maiores */
    cursor: pointer;
    color: white;
}


.ant-message {
  z-index: 1050 !important; /* acima de modais e drawers */
}