.category-bar-up {
  transform: translateY(-115px); /* Sobe um pouco, o suficiente pra ocupar o espaço do header */
  transition: transform 0.3s ease-in-out;
}

.category-bar {
  transition: transform 0.2s ease-in-out;
  position: fixed;
  top: 114px; /* ou ajuste conforme seu layout */
  width: 100vw;
  left: -1px;
  right: 0;
  z-index: 998;
  display: flex;
  border: 1px solid #eaeaea;
  gap: 6rem;
  padding: 1rem 2rem;
  background-color: #2e7d32;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #e6f4ea; /* verde clarinho */
  font-weight: 500;
  color: #2e7d32; /* verde escuro */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.category-item:hover {
  background-color: #d0e9d6; /* verde mais escuro */
  color: #1b5e20; /* verde mais escuro */
  transform: scale(1.05);
}


.category-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: #1890ff;
  transition: width 0.3s ease-in-out;
}

.category-item:hover::after {
  width: 100%;
}
