DATABASE_URL=host=your-host user=your-user password=your-password dbname=your-dbname port=5432 sslmode=require channel_binding=require


FRONTEND_URL=sua_url
BACKEND_URL=sua_url
JWT_SECRET=sua_chave_secreta_jwt_aqui

