.App {
  text-align: center;
}


.backtop-custom {
  height: 50px;
  width: 50px;
  background-color:#1ead01;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 49px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.backtop-custom:hover {
  background-color: #178002;
  transform: scale(1.1);
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
